# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = yasteen 
    email = justinchan135@gmail.com

[core]
    editor = nvim
    #autocrlf = input
[alias]
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    dt = "difftool"
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
